# Mini Final Project (20 Points)

<span style="background:yellow">You are required to complete this project individually. </span>

**Your task for this project is to build a SQLite database using the csv files below, then perform some analytics.**

This project is a toy example for the **ETL pipeline**. ETL stands for extraction, transformation, and loading. In this pipeline, we extract data from various sources,  transform the data with respect to a design (i.e., ERD), and load the transformed data to a database.  

This project will involve three related CSV files.
  * [play_list_music.csv](./play_list_music.csv)
  * [play_list_track_customers.csv](./play_list_track_customers.csv)
  * [play_list_track_buy.csv](./play_list_track_buy.csv)
  
This project could be broken down into the following tasks:

  1. Manually inspect the files and design a database. <span style="background:yellow">(Done for you)</span>
  1. Implement your database design. <span style="background:yellow">(Partially done)</span>
  1. Load data from files into database. <span style="background:yellow">(Partially done)</span>
  1. Write some basic queries.<span style="background:yellow">(Partially done)</span>


<span style="background:yellow">Please focus on the `<write your code>` indicators. You will see many parts of the code is done for you. Note that you are required to run those cell in order to make the project work.</span>

All your code should be implemented in this notebook.
Below the notebook is partitioned into markdown and code execution cells.

## Task 1: Design a database. (Done for you)

There is no implementation cell, the deliverable is the ERD, which is done for you. We will be following this ERD for implementing the database

![alt text](music-store.png "A music store ERD")

## Task 2: Connect to the database (Done for you)

We will use [JupySQL](https://github.com/ploomber/jupysql) and [sqlalchemy](https://www.sqlalchemy.org/) packages for creating a database, tables, and peforming SQL queries via SQL magic funciton. 

For processing csv files, we will use [pandas](https://pandas.pydata.org/), the most popular data manipulation library.

In [4]:
pip install jupysql

Collecting jupysql
  Obtaining dependency information for jupysql from https://files.pythonhosted.org/packages/f1/99/6e11571f053eda5e1c6aa3dcc61539332ac916231aa499b4c19ecd344b9a/jupysql-0.10.12-py3-none-any.whl.metadata
  Downloading jupysql-0.10.12-py3-none-any.whl.metadata (5.6 kB)
Collecting prettytable (from jupysql)
  Obtaining dependency information for prettytable from https://files.pythonhosted.org/packages/c5/16/ec5cc65437dce97d2814a7ba31842b0ee958d102f6e99e264c35f15c328f/prettytable-3.10.2-py3-none-any.whl.metadata
  Downloading prettytable-3.10.2-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: sqlalchemy in c:\users\sasan\anaconda3\lib\site-packages (from jupysql) (1.4.39)
Collecting sqlparse (from jupysql)
  Obtaining dependency information for sqlparse from https://files.pythonhosted.org/packages/5d/a5/b2860373aa8de1e626b2bdfdd6df4355f0565b47e51f7d0c54fe70faf8fe/sqlparse-0.5.1-py3-none-any.whl.metadata
  Downloading sqlparse-0.5.1-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\sasan\anaconda3\lib\site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in c:\users\sasan\anaconda3\lib\site-packages (from jupysql) (3.1.2)
Collecting sqlglot>=11.3.7 (from jupysql)
  Obtaining dependency information for sqlglot>=11.3.7 from https://files.pythonhosted.org/packages/0e/3b/64d69e0e1def90b01620a92cb0cfc47909d4a3b36b3c9924505108da981f/sqlglot-25.6.0-py3-none-any.whl.metadata
  Downloading sqlglot-25.6.0-py3-none-any.whl.metadata (19 kB)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Obtaining dependency information for jupysql-plugin>=0.4.2 from https://files.pythonhosted.org/packages/61/da/8bc10f0302e850640bb9d653aa36e06701e1aef3dda4e1ba3e689a118778/jupysql_plugin-0.4.4-py3-none-any.whl.metadata
  Downloading jupysql_plugin-0.4.4-py3-none-any.whl.metadata (7.8 kB)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Obtaining dependency information for ploomber-core>=0.2.7 from https://files.pythonhosted.org/packages/f4/93/835b343690ceabfde51346c663b7aef2e7211561d916c0a7d6cea32f1415/ploomber_core-0.2.25-py3-none-any.whl.metadata
  Downloading ploomber_core-0.2.25-py3-none-any.whl.metadata (536 bytes)
Collecting ploomber-extension (from jupysql)
  Obtaining dependency information for ploomber-extension from https://files.pythonhosted.org/packages/a3/6e/231a5082655deb0040f17c16757ffd7f7b1aef9cd3617d1284c94ae036ec/ploomber_extension-0.1.1-py3-none-any.whl.metadata
  Downloading ploomber_extension-0.1.1-py3-none-any.whl.metadata (7.5 kB)
Requirement already satisfied: pyyaml in c:\users\sasan\anaconda3\lib\site-packages (from ploomber-core>=0.2.7->jupysql) (6.0)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Obtaining dependency information for posthog from https://files.pythonhosted.org/packages/6c/5f/24cb22118db0e11703b6b80ef9f982eadde21eb585c3a769719e48dce893/posthog-3.5.0-py2.py3-none-any.whl.metadata
  Downloading posthog-3.5.0-py2.py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sasan\anaconda3\lib\site-packages (from jinja2->jupysql) (2.1.1)
Requirement already satisfied: wcwidth in c:\users\sasan\anaconda3\lib\site-packages (from prettytable->jupysql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sasan\anaconda3\lib\site-packages (from sqlalchemy->jupysql) (2.0.1)
Requirement already satisfied: requests<3.0,>=2.7 in c:\users\sasan\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in c:\users\sasan\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Collecting monotonic>=1.5 (from posthog->ploomber-core>=0.2.7->jupysql)
  Obtaining dependency information for monotonic>=1.5 from https://files.pythonhosted.org/packages/9a/67/7e8406a29b6c45be7af7740456f7f37025f0506ae2e05fb9009a53946860/monotonic-1.6-py2.py3-none-any.whl.metadata
  Downloading monotonic-1.6-py2.py3-none-any.whl.metadata (1.5 kB)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Obtaining dependency information for backoff>=1.10.0 from https://files.pythonhosted.org/packages/df/73/b6e24bd22e6720ca8ee9a85a0c4a2971af8497d8f3193fa05390cbd46e09/backoff-2.2.1-py3-none-any.whl.metadata
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: python-dateutil>2.1 in c:\users\sasan\anaconda3\lib\site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sasan\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sasan\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sasan\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sasan\anaconda3\lib\site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.6.2)
Downloading jupysql-0.10.12-py3-none-any.whl (95 kB)
   ---------------------------------------- 0.0/95.9 kB ? eta -:--:--
   -------------------------------------- - 92.2/95.9 kB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 95.9/95.9 kB 1.8 MB/s eta 0:00:00
Downloading jupysql_plugin-0.4.4-py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/249.8 kB ? eta -:--:--
   ------------------- -------------------- 122.9/249.8 kB 3.6 MB/s eta 0:00:01
   ---------------------------------------  245.8/249.8 kB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 249.8/249.8 kB 2.5 MB/s eta 0:00:00
Downloading ploomber_core-0.2.25-py3-none-any.whl (22 kB)
Downloading sqlglot-25.6.0-py3-none-any.whl (391 kB)
   ---------------------------------------- 0.0/391.5 kB ? eta -:--:--
   ------------ --------------------------- 122.9/391.5 kB 3.6 MB/s eta 0:00:01
   -------------------------- ------------- 256.0/391.5 kB 3.2 MB/s eta 0:00:01
   ---------------------------------------  389.1/391.5 kB 2.7 MB/s eta 0:00:01
   ---------------------------------------- 391.5/391.5 kB 2.2 MB/s eta 0:00:00
Downloading ploomber_extension-0.1.1-py3-none-any.whl (193 kB)
   ---------------------------------------- 0.0/193.1 kB ? eta -:--:--
   ------------------------- -------------- 122.9/193.1 kB 2.4 MB/s eta 0:00:01
   ---------------------------------------- 193.1/193.1 kB 2.3 MB/s eta 0:00:00
Downloading prettytable-3.10.2-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.1-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.2 kB ? eta -:--:--
   ---------------------------------------- 44.2/44.2 kB ? eta 0:00:00
Downloading posthog-3.5.0-py2.py3-none-any.whl (41 kB)
   ---------------------------------------- 0.0/41.3 kB ? eta -:--:--
   ---------------------------------------- 41.3/41.3 kB 1.9 MB/s eta 0:00:00
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Downloading monotonic-1.6-py2.py3-none-any.whl (8.2 kB)
Installing collected packages: monotonic, sqlparse, sqlglot, prettytable, backoff, posthog, ploomber-core, ploomber-extension, jupysql-plugin, jupysql
Successfully installed backoff-2.2.1 jupysql-0.10.12 jupysql-plugin-0.4.4 monotonic-1.6 ploomber-core-0.2.25 ploomber-extension-0.1.1 posthog-3.5.0 prettytable-3.10.2 sqlglot-25.6.0 sqlparse-0.5.1
Note: you may need to restart the kernel to use updated packages.

In [58]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [59]:
engine = create_engine("sqlite:///music_store.db")

In [60]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [61]:
%sql engine

## Task 3: Implement your database design (6 points)

We will be ussing DDL to create tables in the database. Use the cells below to add your `CREATE TABLE` statements. Add extra cells as necessary.

SQLite Data Types: https://www.sqlite.org/datatype3.html

### 3.1: Create Customer table (Done for you)

In [62]:
%%sql

DROP TABLE IF EXISTS Customer;

-- This statement will help us repeat the experiment without deleting 
-- the database everytime

Running query in 'sqlite:///music_store.db'

++
||
++
++

In [63]:
%%sql 

CREATE TABLE Customer(
        customerid bigint primary key,
        firstname text,
        lastname text,
        company text,
        address text,
        city text,
        state text,
        country text,
        postalcode text,
        Phone text,
        fax text,
        email text
);

Running query in 'sqlite:///music_store.db'

++
||
++
++

We can check whether the table is created correctly in various ways. One way is to check the schema.

In [64]:
%%sql 

SELECT sql FROM sqlite_schema WHERE name='Customer';

Running query in 'sqlite:///music_store.db'

+----------------------------------------+
|                  sql                   |
+----------------------------------------+
|         CREATE TABLE Customer(         |
|         customerid bigint primary key, |
|                firstname text,         |
|                 lastname text,         |
|                 company text,          |
|                 address text,          |
|                   city text,           |
|                  state text,           |
|                 country text,          |
|                postalcode text,        |
|                  Phone text,           |
|                   fax text,            |
|                   email text           |
|                   )                    |
+----------------------------------------+

The table should be empty.

In [65]:
%%sql 

SELECT count(*) from Customer;

Running query in 'sqlite:///music_store.db'

+----------+
| count(*) |
+----------+
|    0     |
+----------+

### 3.2: Create Track table (2 points)

In [66]:
%%sql 

DROP TABLE IF EXISTS Track;

Running query in 'sqlite:///music_store.db'

++
||
++
++

In [67]:
%%sql 

CREATE TABLE Track (
    trackid bigint primary key,
    song text,
    artist text,
    album text,
    media_type text,
    genre text,
    Bytes bigint
    
         
    );

Running query in 'sqlite:///music_store.db'

++
||
++
++

### 3.3: Create Playlist table (2 points)

In [68]:
%%sql 

DROP TABLE IF EXISTS Playlist;

Running query in 'sqlite:///music_store.db'

++
||
++
++

In [69]:
%%sql 

CREATE TABLE Playlist (
    playlistid integer primary key,
    playlistname text
    
)

Running query in 'sqlite:///music_store.db'

++
||
++
++

### 3.4: Create PlaylistTrack table (Done for you)

In [70]:
%%sql 

DROP TABLE IF EXISTS PlaylistTrack;

Running query in 'sqlite:///music_store.db'

++
||
++
++

In [71]:
%%sql 

CREATE TABLE PlaylistTrack (
    playlistid integer,
    trackid bigint,
    primary key(playlistid,trackid),
    foreign key(playlistid) references Playlist(playlistid),
    foreign key(trackid) references Track(trackid)
);

Running query in 'sqlite:///music_store.db'

++
||
++
++

### 3.5: Create Purchase table (2 points)

In [72]:
%%sql 

DROP TABLE IF EXISTS Purchase; 

CREATE TABLE Purchase (
    invoiceid bigint,
    trackid bigint,
    customerid bigint,
    unitprice real,
    primary key(invoiceid,trackid,customerid)
    foreign key(trackid) references Track(trackid),
    foreign key (customerid) references Customer(customerid)
    
    
    
    
        );

Running query in 'sqlite:///music_store.db'

++
||
++
++

## Task 4: Data Cleaning and Grooming (2 points)

Use Pyhton or Excel to carve the provided CSV files above into the set of appropriate dataframes you need to load into your database. If you would like you can do the data cleaning either in python or in excel. 

This step may could include removing unneeded columns, removing duplicate rows, cascade of changes across cvs files, and more. 

In the following cells, the necessary Python code for curating the data is given. If you prefer Excel, then you can skip this step.

### Task 4.1 Load data `from play_list_music.csv`

In [73]:
df_music = pd.read_csv('play_list_music.csv')

Let's inspect the first 5 rows

In [74]:
df_music.head()

,trackid,artist,album,song,playlist,media_type,genre,Bytes
0,1,AC/DC,For Those About To Rock We Salute You,For Those About To Rock (We Salute You),Music,MPEG audio file,Rock,11170334
1,1,AC/DC,For Those About To Rock We Salute You,For Those About To Rock (We Salute You),Heavy Metal Classic,MPEG audio file,Rock,11170334
2,6,AC/DC,For Those About To Rock We Salute You,Put The Finger On You,Music,MPEG audio file,Rock,6713451
3,7,AC/DC,For Those About To Rock We Salute You,Let's Get It Up,Music,MPEG audio file,Rock,7636561
4,8,AC/DC,For Those About To Rock We Salute You,Inject The Venom,Music,MPEG audio file,Rock,6852860

#### 4.1.1 Curate data for the Track table (Done)
If we look at Track relation in the given ERD, this dataframe contains that all required attributes for this table. We can simply subset the necessary column for this table.

In [75]:
df_track = df_music[['trackid', 'artist', 'album', 'song',
                   'media_type', 'genre', 'Bytes']].copy()

In [76]:
df_track.shape

(5212, 7)

This `df_track` might have duplicates, which we need to remove as a relation cannot contain duplicate tuples. We can remove these duplicates as follows.

In [77]:
df_track.drop_duplicates(inplace=True)

In [78]:
df_track.shape

(3503, 7)

Now `df_track` is ready to be loaded into the `Track` table in the database. We will perform this loading in Section 5. Let's curate the data for the other tables.

#### 4.1.2 Curate data for the Playlist table (Done)

Now, this `df_music` also contains the necessary attribute (i.e. playlist name) for the playlist table. Once we extract the playlist name from this table, we can associate `playlistid` with the playlist names.

In [79]:
# the following line gives us the unique playlist names in this datafame 
playlist_names = df_music['playlist'].unique()

In [80]:
# lets inspect these names
playlist_names

array(['Music', 'Heavy Metal Classic', '90’s Music', 'Grunge',
       'Brazilian Music', 'On-The-Go 1', 'Classical',
       'Classical 101 - The Basics', 'Classical 101 - Next Steps',
       'Classical 101 - Deep Cuts', 'TV Shows', 'Music Videos'],
      dtype=object)

Now, we can create a dataframe for the `Playlist` table as follows.

In [81]:
df_playlist = pd.DataFrame(playlist_names, columns=['playlistname'])

In [82]:
df_playlist

                  playlistname
0                        Music
1          Heavy Metal Classic
2                   90’s Music
3                       Grunge
4              Brazilian Music
5                  On-The-Go 1
6                    Classical
7   Classical 101 - The Basics
8   Classical 101 - Next Steps
9    Classical 101 - Deep Cuts
10                    TV Shows
11                Music Videos

Let's add `playlistid` column to this dataframe.

In [83]:
df_playlist['playlistid'] = range(1, df_playlist.shape[0] + 1)

In [84]:
df_playlist

                  playlistname  playlistid
0                        Music           1
1          Heavy Metal Classic           2
2                   90’s Music           3
3                       Grunge           4
4              Brazilian Music           5
5                  On-The-Go 1           6
6                    Classical           7
7   Classical 101 - The Basics           8
8   Classical 101 - Next Steps           9
9    Classical 101 - Deep Cuts          10
10                    TV Shows          11
11                Music Videos          12

This `df_playlist` dataframe will be loaded to the `Playlist` table.

#### 4.1.3 Curating data for the PlaylistTrack table (Done)

This `df_music` dataframe also contains the data for the `PlaylistTrack` bridging table.

In [85]:
df_playlisttrack = df_music[['trackid', 'playlist']].copy()

In [86]:
df_playlisttrack.head()

   trackid             playlist
0        1                Music
1        1  Heavy Metal Classic
2        6                Music
3        7                Music
4        8                Music

Since we kept the playlist names in the `Playlist` table, we need to replace these playlist names with their corresponding playlist ids. This can done various ways. Here we will apply pandas `map` function. We will essentially supply a mapping of `playlistname --> playlistid`.

In [87]:
map_name_to_id = dict( zip(df_playlist['playlistname'], df_playlist['playlistid'])
)

In [88]:
map_name_to_id

{'Music': 1,
 'Heavy Metal Classic': 2,
 '90’s Music': 3,
 'Grunge': 4,
 'Brazilian Music': 5,
 'On-The-Go 1': 6,
 'Classical': 7,
 'Classical 101 - The Basics': 8,
 'Classical 101 - Next Steps': 9,
 'Classical 101 - Deep Cuts': 10,
 'TV Shows': 11,
 'Music Videos': 12}

In [89]:
# Remap the values of the dataframe
df_playlisttrack['playlist'] = df_playlisttrack['playlist'].map(map_name_to_id)

In [90]:
df_playlisttrack.head()

   trackid  playlist
0        1         1
1        1         2
2        6         1
3        7         1
4        8         1

To match with given attribute names in the `PlaylistTrack` tabke, we need to rename the column `playlist` as `playlistid` in this dataframe.

In [91]:
df_playlisttrack = df_playlisttrack.rename(columns={'playlist': 'playlistid'})

In [92]:
df_playlisttrack.head()

   trackid  playlistid
0        1           1
1        1           2
2        6           1
3        7           1
4        8           1

Now, this `df_playlisttrack` dataframe can be loaded to the `PlaylistTrack` table in the database.

In [93]:
df_customer = pd.read_csv("play_list_track_customers.csv")

### Task 4.2 Load `play_list_track_customers.csv` (Done)

Let's inspect the first 5 rows

In [94]:
df_customer.head()

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br
1,2,Leonie,Köhler,NaN,Theodor-Heuss-Straße 34,Stuttgart,NaN,Germany,70174,+49 0711 2842222,NaN,leonekohler@surfeu.de
2,3,François,Tremblay,NaN,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,NaN,ftremblay@gmail.com
3,4,Bjørn,Hansen,NaN,Ullevålsveien 14,Oslo,NaN,Norway,171,+47 22 44 22 22,NaN,bjorn.hansen@yahoo.no
4,5,František,Wichterlová,JetBrains s.r.o.,Klanova 9/506,Prague,NaN,Czech Republic,14700,+420 2 4172 5555,+420 2 4172 5555,frantisekw@jetbrains.com

In [95]:
df_customer.shape

(59, 12)


This `df_customer` dataframe has the necessary attributes for the customer relation (see the ERD). This dataframe shouldn't have any duplicates. However, we can invoke `drop_duplicates` just to be cautious.

In [96]:
df_customer.drop_duplicates(inplace=True)

This `df_customer` dataframe is ready to loaded to the customer table.

### Task 4.3 Load `play_list_track_buy.csv` (2 points)

In [97]:
df_purchase_customer = pd.read_csv("play_list_track_buy.csv")

In [98]:
df_purchase_customer.head()

,InvoiceId,trackid,CustomerId,UnitPrice,BillingAddress,BillingCity
0,1,2,2,0.99,Theodor-Heuss-Straße 34,Stuttgart
1,1,4,2,0.99,Theodor-Heuss-Straße 34,Stuttgart
2,2,6,4,0.99,Ullevålsveien 14,Oslo
3,2,8,4,0.99,Ullevålsveien 14,Oslo
4,2,10,4,0.99,Ullevålsveien 14,Oslo

Inspect the first five rows.

This dataframe contains the necessary attributes for purchase table.

In [99]:
df_purchase = df_purchase_customer[['InvoiceId','trackid','CustomerId','UnitPrice']].copy()

In [100]:
df_purchase.shape

(2240, 4)

In [101]:
df_purchase.head()

   InvoiceId  trackid  CustomerId  UnitPrice
0          1        2           2       0.99
1          1        4           2       0.99
2          2        6           4       0.99
3          2        8           4       0.99
4          2       10           4       0.99

## Task 5: Load the data from the files into the database. (4 points)

Load all of the tables. First we will load all the kernels (i.e independent tables, which doesn't have any foreign keys). 

There are various ways to load data from a dataframe to a table in a database. E.g., we could iterate a dataframe row-wise, create an insert statment for each row, and insert the row to the table. However, there is a one-liner (e.g., `to_sql` function) to insert the data from a dataframe to a database. This latter approach is convenient and concise.

### 5.1 Load the Track table (Done)

In [102]:
df_track.to_sql(name='Track', con=engine, if_exists='append',index=False)

3503

### 5.2 Load the Cusomter table

In [103]:
df_customer.to_sql(name='Customer', con=engine, if_exists='append', index=False)

59

### 5.3 Load the Playlist table

In [104]:
df_playlist.to_sql(name='Playlist', con=engine, if_exists='append', index=False)

12

### 5.4 Load the Purchase table

In [105]:
df_purchase.to_sql(name='Purchase', con=engine, if_exists='append', index=False)

2240

### 5.5 Load the PlayListTrack table

In [106]:
df_playlisttrack.to_sql(name='PlayListTrack', con=engine, if_exists='append', index=False)

C:\Users\sasan\AppData\Local\Temp\ipykernel_16676\388602005.py:1: UserWarning: The provided table name 'PlayListTrack' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df_playlisttrack.to_sql(name='PlayListTrack', con=engine, if_exists='append', index=False)

5212

## Task 6: Write count statements to show the data has been loaded. (2 point)
Write SQL to show the `COUNT(*)` from each table loaded.

### 6.1 Show to number of entities in the Track table

In [107]:
%%sql 

SELECT COUNT(*) 
FROM Track;

Running query in 'sqlite:///music_store.db'

+----------+
| COUNT(*) |
+----------+
|   3503   |
+----------+

### 6.2 Show to number of entities in the Customer table

In [108]:
%%sql

SELECT COUNT(*) 
FROM Customer;

Running query in 'sqlite:///music_store.db'

+----------+
| COUNT(*) |
+----------+
|    59    |
+----------+

### 6.3 Show to number of entities in the Purchase table

In [109]:
%%sql

SELECT COUNT(*) 
FROM Purchase;

Running query in 'sqlite:///music_store.db'

+----------+
| COUNT(*) |
+----------+
|   2240   |
+----------+

### 6.4 Show to number of entities in the PlaylistTrack table

In [110]:
%%sql

SELECT COUNT(*) 
FROM PlayListTrack;

Running query in 'sqlite:///music_store.db'

+----------+
| COUNT(*) |
+----------+
|   5212   |
+----------+

### 6.5 Show to number of entities in the Playlist table

In [111]:
%%sql

SELECT COUNT(*) 
FROM Playlist;

Running query in 'sqlite:///music_store.db'

+----------+
| COUNT(*) |
+----------+
|    12    |
+----------+

### Task 7: Write some basic queries for the data you have load. (6 points)
Please state the question that your query is trying to answer as a comment at the top of the code box for that query.
1. a single table query
1. a query that joins two tables
1. a query that preforms some aggerate function.

### Q1: [State your question]

## Example
## Each artist and thier average bytes per song

Write the query in the following cell

In [115]:
%%sql
# Each artist of different genre(genre is capitalized) and their average bytes of their songs. Display genre and average bytes. 
SELECT DISTINCT genre, AVG(Bytes) as avg_bytes
FROM Track 
GROUP BY genre

Running query in 'sqlite:///music_store.db'

+--------------------+--------------------+
|       genre        |     avg_bytes      |
+--------------------+--------------------+
|    Alternative     |     5883473.6      |
| Alternative & Punk | 7691002.942771085  |
|       Blues        | 8625575.629629629  |
|     Bossa Nova     |     7239057.0      |
|     Classical      | 5220906.513513514  |
|       Comedy       | 316904465.7647059  |
|       Drama        |  506946966.765625  |
|   Easy Listening   | 6160517.833333333  |
| Electronica/Dance  | 10691926.466666667 |
|    Heavy Metal     | 9474752.142857144  |
+--------------------+--------------------+
Truncated to displaylimit of 10.

### Q2: [State your question]

In [ ]:
# Display the Album and customer information of Germany customers(country is capitalized). Sort the data with respect to  
# ascending order

In [117]:
%%sql

SELECT DISTINCT T.*,C.*
FROM Track T
JOIN Purchase P
ON T.trackid = P.trackid
JOIN Customer C
ON P.customerid = C.customerid
WHERE country = 'Germany'
GROUP BY C.firstname, C.lastName
ORDER BY customerid;

Running query in 'sqlite:///music_store.db'

+---------+-------------------+---------------+-------------------+--------------------------+--------------------+---------+------------+-----------+------------+---------+-------------------------+-----------+-------+---------+------------+------------------+------+---------------------------+
| trackid |        song       |     artist    |       album       |        media_type        |       genre        |  Bytes  | customerid | firstname |  lastname  | company |         address         |    city   | state | country | postalcode |      Phone       | fax  |           email           |
+---------+-------------------+---------------+-------------------+--------------------------+--------------------+---------+------------+-----------+------------+---------+-------------------------+-----------+-------+---------+------------+------------------+------+---------------------------+
|    2    | Balls to the Wall |     Accept    | Balls to the Wall | Protected AAC audio file |        Rock        | 5510424 |     2      |   Leonie  |   Köhler   |   None  | Theodor-Heuss-Straße 34 | Stuttgart |  None | Germany |   70174    | +49 0711 2842222 | None |   leonekohler@surfeu.de   |
|   930   |  She Loves Me Not | Faith No More | Album Of The Year |     MPEG audio file      | Alternative & Punk | 6887544 |     36     |   Hannah  | Schneider  |   None  |    Tauentzienstraße 8   |   Berlin  |  None | Germany |   10789    | +49 030 26550280 | None | hannah.schneider@yahoo.de |
|   230   |  Bye, Bye Brasil  | Chico Buarque |   Minha Historia  |     MPEG audio file      |       Latin        | 9499590 |     37     |    Fynn   | Zimmermann |   None  |     Berger Straße 10    | Frankfurt |  None | Germany |   60316    | +49 069 40598889 | None |    fzimmermann@yahoo.de   |
|   231   |   Atras Da Porta  | Chico Buarque |   Minha Historia  |     MPEG audio file      |       Latin        | 6132843 |     38     |   Niklas  |  Schröder  |   None  |   Barbarossastraße 19   |   Berlin  |  None | Germany |   10779    | +49 030 2141444  | None |    nschroder@surfeu.de    |
+---------+-------------------+---------------+-------------------+--------------------------+--------------------+---------+------------+-----------+------------+---------+-------------------------+-----------+-------+---------+------------+------------------+------+---------------------------+

### Q3: [State your question]

# SQL query to find distinct sales with their customer information For each country, include only the customer first name , last # Name and their ID where unit price is greater than the average unit price of their country

In [133]:
%%sql

SELECT DISTINCT C.firstname,C.lastname, C.customerid, ROUND(AVG(UnitPrice),2) as avg_price
FROM Customer C
JOIN Purchase P
ON P.customerid=C.customerid
GROUP BY C.Country
HAVING P.UnitPrice < AVG(P.UnitPrice)

Running query in 'sqlite:///music_store.db'

+-----------+------------+------------+-----------+
| firstname |  lastname  | customerid | avg_price |
+-----------+------------+------------+-----------+
|   Astrid  |   Gruber   |     7      |    1.12   |
|  Eduardo  |  Martins   |     10     |    1.0    |
|    Mark   |  Philips   |     14     |    1.0    |
|    Luis   |   Rojas    |     57     |    1.23   |
|   Helena  |    Holý    |     6      |    1.19   |
|   Terhi   | Hämäläinen |     44     |    1.1    |
| Dominique |  Lefebvre  |     40     |    1.03   |
|   Leonie  |   Köhler   |     2      |    1.03   |
|  Ladislav |   Kovács   |     45     |    1.2    |
|    Puja   | Srivastava |     59     |    1.02   |
+-----------+------------+------------+-----------+
Truncated to displaylimit of 10.

# SAVE YOUR NOTEBOOK